{% extends "recordatorios/home.html" %}

{% block titulo %}
<h1 class="mb-5">Contacto</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container">

    <br/>

    <h2>Mantengámonos en contacto</h2>
    <p>Puedes contactarme a través de las siguientes vías:</p>

    <ul class="list-unstyled">
        <li><i class="fab fa-whatsapp"></i> WhatsApp: <a href="https://wa.me/5731842297741">Enviar mensaje</a> | +57 31842297741</li>
        <li><i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/nicolás-garcés-toro-697388236">Perfil de LinkedIn</a></li>
        <li><i class="far fa-envelope"></i> Correo Electrónico: <a href="mailto:nicolasgt98@hotmail.com">nicolasgt98@hotmail.com</a></li>
    </ul>
</div>
{% endblock contenido %}
