{% extends "recordatorios/home.html" %}

{% block titulo %}
    <h1 class="mb-5">Pagos</h1>
{% endblock titulo %}

{% block contenido %}

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <h2>Pagos</h2>
        </div>
        <div class="col-md-3 text-end">
            <a href="{% url 'pago_crear' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear</a>
            <a href="{% url 'buscarPagos' %}" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Proveedor</th>
                    <th>Fecha Límite de Pago</th>
                    <th>Recordatorio</th>
                    <th>Etiqueta</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pago_list %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>${{ p.valor }}</td>
                    <td>{{ p.proveedor }}</td>
                    <td>{{ p.fecha_pago }}</td>
                    <td>{{ p.recordatorio }}</td>
                    <td>{{ p.etiqueta }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>
                        <a href="{% url 'pago_actualizar' p.id %}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                        <a href="{% url 'pago_eliminar' p.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido %}

