{% extends "recordatorios/home.html" %}

{% block titulo %}
<h1 class="mb-5">Tareas</h1>
{% endblock titulo %}

{% block contenido %}

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <h2>Tareas</h2>
        </div>
        <div class="col-md-3 text-end">
            <a href="{% url 'tarea_crear' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear</a>
            <a href="{% url 'buscarTareas' %}" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha Límite</th>
                <th>Recordatorio</th>
                <th>Etiqueta</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tarea_list %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.fecha_limite }}</td>
                <td>{{ tarea.recordatorio }}</td>
                <td>{{ tarea.etiqueta }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>
                    <a href="{% url 'tarea_actualizar' tarea.id %}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                    <a href="{% url 'tarea_eliminar' tarea.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}
