header {
  background: teal;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

body {
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: teal;
}

/* Estilos para la barra de navegación */
nav.navbar {
  background-color: teal;
  border: 2px solid #006666;
  padding: 10px;
}  
/* Estilos para los botones */
.btn-custom {
  background-color: teal;
  border-color: teal;
}

.btn-custom:hover {
  background-color: #006666;
  border-color: #006666;
}

.bg-lightblue {
  background-color: lightblue;
}
